body {
  margin: 50px 50px 50px 50px;
  text-align: justify;
  font-family: marion;
  font-weight: lighter;
  line-height: 30px;
  font-size: 18px;
}

#title {
  font-size: 40px;
  margin: 0 0 10px 0;
}

#quote {
  font-style: italic;
}

li {
  text-align: left;
}

a {
  text-decoration: none;
  border: 2px solid blue;
  border-radius: 6px;
  padding: 4px 6px 4px 6px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 14px;
}

a:visited {
  color: blue;
  border: 2px solid blue;
}

a:hover {
  color: purple;
  border: 2px solid purple;
}

img {
  width: 60px;
}
