body {
  margin: 40px;
  text-align: justify;
  font-family: helvetica;
  line-height: 30px;
  font-size: 18px;
}

#title {
  font-size: 40px;
  margin: 0 0 10px 0;
}

#quote {
  font-style: italic;
}

h2 {
  text-align: left;
}

li {
  text-align: left;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  color: orange;
}

img {
  width: 60px;
}
