

#main {
  font-family: marion;
  font-weight: lighter;
  text-align: left;
  font-size: 40px;

  color: black;
  margin: 5% 0 0 0;

}

#content {
  font-family: helvetica;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

#quote {
  font-family: times;
  font-weight: normal;
  font-size: 18px;
  font-style: italic;
}

#whole {
  margin: 30px 0 30px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#footer {
  text-align: left;
}

#logo {
  width: 80px;
  font-family: marion;
  font-weight: lighter;
  font-size: 40px;
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  border: 2px solid blue;
  border-radius: 6px;
  padding: 4px 6px 4px 6px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 14px;
}

a:visited {
  color: orange;
  border: 2px solid orange;
}

a:hover {
  color: purple;
  border: 2px solid purple;
}
